.rateButton {
  background: #555;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;

  text-transform: capitalize;
  font-weight: 500;
  font-size: 2rem;
}
/* bg-neutral-600 text-white py-4 px-8 border-none rounded cursor-pointer w-full flex justify-center capitalize font-medium text-4xl; */
.activeRateButton {
  background-color: rgb(245, 197, 24);
  color: #333;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2rem;
}
